@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Cantarell', sans-serif;
}

a {
 text-decoration: none;
}

ul li {
 list-style: none;
}

:root {
 /* --COLORS-- */
 --ta-primary-color: #ffd900;
 --ta-secondary-color: #2c2626;
 --ta-tertiary-color: #ffffff;

 /* --BUTTONS-- */
 --ta-button-color-1: #ffffff;
 --ta-button-color-2: #3f3434;

 /* FONT-SIZE */
 --ta-font-size-s: 10px;
 --ta-font-size-m: 14px;
 --ta-font-size-l: 20px;
 --ta-font-size-xl: 28px;
 --ta-font-size-xxl: 32px;

 /* FONT-COLORS */
 --ta-font-primary: #ffffff;
 --ta-font-secondary: #090909;
 --ta-font-tertiary: #0909097a;
 --ta-font-quaternary: #ffd900;
}

header {
 background-image: url(./assets/DSC07074_copy_61fc8113-9c33-406c-aa2c-8c33cbf4f52f-foto.jpg);
 background-size: cover;
}

header img {
 width: 30px;
}

.menu {
 display: none;
}

.corner-button {
 position: fixed;
 bottom: 20px;
 right: 20px;
 padding: 15px;
 background-color: var(--ta-font-quaternary);
 color: var(--ta-font-primary);
 text-decoration: none;
 border: none;
 border-radius: 10px;
 z-index: 1;
 font-size: var(--ta-font-size-l);
}

#initial {
 display: flex;
 justify-content: start;
 padding: 10px;
 align-items: center;
}

#initial:hover {
 background-color: var(--ta-secondary-color);
 transition: 0.5s;
}

#initial > nav > ul {
 display: flex;
 justify-content: center;
 font-size: var(--ta-font-size-m);
 color: var(--ta-tertiary-color);
}

.home a {
 padding: 0 25px;
 color: var(--ta-tertiary-color);
}

.user {
 padding-left: 150px;
}
.user ul li {
 padding: 7px;
}

.user img {
 width: 25px;
}

.logo-ta {
 width: 80px;
 margin-left: 30px;
 cursor: pointer;
}

#tiffany-anna {
 padding: 225px;
 display: flex;
 align-items: center;
 flex-direction: column;
}

h1 {
 font-size: var(--ta-font-size-m);
 color: var(--ta-tertiary-color);
}

h2 {
 font-size: var(--ta-font-size-xxl);
 color: var(--ta-tertiary-color);
 filter: none;
 margin: 20px;
 display: flex;
 justify-content: center;
}

.buttons {
 display: flex;
}

.buttons button {
 padding: 14px;
 margin: 10px;
 width: 300px;
 cursor: pointer;
 font-size: var(--ta-font-size-m);
 border: var(--ta-button-color-1);
}

.buttons button:hover {
 background: transparent;
 transition: 0.5s;
 color: var(--ta-font-primary);
}

.next {
 display: flex;
 border-radius: 100%;
 padding: 20px;
 border: none;
 position: relative;
 bottom: -25px;
 left: 48%;
 cursor: pointer;
 font-size: 20px;
 background-color: var(--ta-button-color-1);
 height: 55px;
 box-shadow: 0px 3px 9px -1px rgba(0, 0, 0, 0.49);
 align-items: center;
}

.next:hover {
 background: transparent;
 transition: 0.5s;
 color: var(--ta-font-primary);
}

span h3 {
 display: flex;
 justify-content: center;
 color: var(--ta-font-secondary);
 font-size: var(--ta-font-size-xl);
 margin-top: 80px;
}
#container-scroll {
 display: grid;
 grid-template-columns: repeat(8, 1fr);
 gap: 25px;
 overflow-x: auto;
 margin: 40px 60px;
}

#container-scroll img {
 width: 330px;
 cursor: pointer;
}

.item {
 display: flex;
 flex-direction: column;
 align-items: center;
 cursor: grab;
}

article > h3 {
 background-color: var(--ta-tertiary-color);
 font-size: var(--ta-font-size-m);
 padding: 10px;
}

article > p {
 font-size: var(--ta-font-size-m);
 padding-bottom: 10px;
}

.view {
 display: flex;
 justify-content: center;
 padding: 10px;
 align-items: center;
 background-color: var(--ta-button-color-2);
 color: var(--ta-tertiary-color);
}

button.view {
 position: relative;
 left: 45%;
 width: 130px;
 cursor: pointer;
}
.title {
 background-color: var(--ta-secondary-color);
 padding: 30px 0px;
 margin: 30px 0;
}

.title img {
 width: 100%;
 transition: transform 2s ease;
 filter: brightness(60%);
}

.title img:hover {
 transform: scale(1.05);
}

.collection h3 {
 display: flex;
 justify-content: center;
 width: 150px;
 position: relative;
 top: -25%;
 margin-left: 30px;
 cursor: pointer;
}

.collection h3:hover {
 background: transparent;
 transition: 0.5s;
 color: var(--ta-font-primary);
}

.shop {
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 gap: 15px;
}

aside {
 display: flex;
 width: 100%;
 padding: 50px 100px;
}

.power {
 display: flex;
 flex-direction: column;
 align-items: first baseline;
 justify-content: center;
 padding-left: 30%;
 padding-right: 10%;
}

.gold {
 width: 25em;
}

.bird {
 width: 20em;
 position: absolute;
 padding-top: 35px;
 margin-left: 350px;
}

h3 {
 font-size: var(--ta-font-size-s);
 color: var(--ta-font-secondary);
 padding-bottom: 10px;
}

h4 {
 font-size: var(--ta-font-size-xl);
 color: var(--ta-font-secondary);
 padding-bottom: 10px;
}

.description {
 font-size: var(--ta-font-size-m);
}

#instagram {
 background-color: #a3a3a32c;
}

.ig-follow {
 display: flex;
 justify-content: center;
 align-items: center;
 padding-top: 50px;
 color: var(--ta-font-secondary);
 font-size: var(--ta-font-size-l);
}

.ig-post {
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 padding: 40px 80px;
 cursor: pointer;
}

.ig-post li img:hover {
 filter: brightness(50%);
 transition: 0.5s;
}

.ig-post li img {
 max-width: 100%;
 height: 100%;
 padding: 10px;
}

.newsletter {
 text-align: center;
 margin-top: 60px;
}

.newsletter p {
 margin: 20px;
}
.specification {
 display: flex;
 background-color: var(--ta-font-quaternary);
 padding: 30px 60px;
 justify-content: center;
}

.specification img {
 width: 25px;
}

.specification ul {
 display: flex;
}

.specification ul li {
 margin: 10px 70px;
}

form {
 display: flex;
 justify-content: center;
 gap: 20px;
 padding-bottom: 40px;
}
input {
 padding: 15px 80px 15px 10px;
 text-align: start;
}
.subscribe {
 background-color: var(--ta-button-color-2);
 color: var(--ta-font-primary);
 padding: 15px 70px;
 cursor: pointer;
}

.subscribe:hover {
 background: transparent;
 transition: 0.5s;
 color: var(--ta-font-secondary);
}

.info-ta {
 padding: 50px 90px;
}

.terms-conditions {
 display: flex;
 justify-content: space-between;
}

.terms-conditions li {
 margin: 10px;
 color: #0909097a;
}

.terms-conditions li a:any-link {
 color: var(--ta-font-secondary);
}

#about-ta {
 width: 30%;
 padding: 15px;
}

#social-media ul {
 display: flex;
 padding-left: 90px;
}

#social-media img {
 width: 20px;
 margin-right: 40px;
}

#copyright {
 padding: 10px 90px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

#copyright ul {
 display: flex;
 align-items: center;
 cursor: pointer;
}

#copyright img {
 width: 30px;
 margin: 10px;
}

.know-more {
 font-size: var(--ta-font-size-m);
}

@media screen and (max-width: 376px) {
 header {
  background-image: url(./assets/media\ background-1.jpg);
  background-size: cover;
  background-position: center;
 }

 .menu {
  display: flex;
  margin: 20px;
 }

 .user {
  position: relative;
  padding: 0;
 }

 #initial {
  justify-content: space-around;
 }

 .home {
  display: none;
 }

 .buttons {
  flex-direction: column;
  margin: 0;
 }

 .buttons button {
  width: 200px;
 }

 .next {
  display: none;
 }

 span h3 {
  margin-top: 30px;
  font-size: var(--ta-font-size-l);
 }

 #container-scroll {
  margin: 20px;
 }

 #tiffany-anna {
  padding: 100px 0 200px;
 }

 h2 {
  margin: 10px;
  font-size: var(--ta-font-size-l);
 }

 .view {
  display: none;
 }

 aside {
  flex-direction: column;
  padding: 0;
 }

 .power {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px 20px;
 }

 .gold {
  width: 70%;
 }

 .bird {
  width: 40%;
  padding-top: 70px;
  right: 20px;
 }

 .specification ul {
  display: block;
 }

 .info-ta {
  padding: 0;
 }

 .terms-conditions {
  padding: 0px;
  justify-content: space-evenly;
 }

 #about-ta {
  width: 50%;
 }

 #copyright {
  margin: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
  gap: 10px;
 }

 .collection h3 {
  display: none;
 }

 .ig-post {
  padding: 0;
 }

 .logo-ta {
  margin-left: 0;
 }

 .specification {
  padding: 0;
 }

 #social-media ul {
  display: flex;
  justify-content: center;
  padding: 0;
 }

 #social-media img {
  margin: 10px;
 }

 .know-more {
  font-size: var(--ta-font-size-s);
 }
}

@media screen and (max-width: 595px) {
 form {
  flex-wrap: wrap;
 }

 .know-more {
  font-size: var(--ta-font-size-s);
 }

 .specification {
  padding: 0;
 }
}

@media screen and (min-width: 376px) and (max-width: 768px) {
 header {
  background-image: url(./assets/media\ background-1.jpg);
  background-size: cover;
  background-position: center;
 }

 .menu {
  display: flex;
  margin-right: 20%;
 }

 .user {
  position: absolute;
  right: 30px;
  padding: 0;
 }

 .home {
  display: none;
 }

 .buttons {
  flex-direction: column;
  margin: 0;
 }

 .next {
  display: none;
 }

 span h3 {
  margin-top: 30px;
 }

 #container-scroll {
  margin: 20px;
 }

 #tiffany-anna {
  padding: 100px 0 200px;
 }

 h2 {
  margin: 10px;
  font-size: var(--ta-font-size-l);
 }

 .view {
  display: none;
 }

 aside {
  flex-direction: column;
  padding: 0;
 }

 .power {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 30px;
 }

 .gold {
  width: 70%;
 }

 .bird {
  width: 40%;
  padding-top: 70px;
  right: 20px;
 }

 .specification ul {
  display: block;
 }

 .specification ul li {
  margin: 0;
 }

 .info-ta {
  padding: 0;
 }

 .terms-conditions {
  padding: 20px;
  justify-content: space-evenly;
 }

 #about-ta {
  width: 50%;
 }

 #copyright {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
 }

 .collection h3 {
  display: none;
 }

 .ig-post {
  padding: 0;
 }

 .logo-ta {
  margin-left: 0;
 }

 #social-media ul {
  padding: 0;
  display: flex;
  justify-content: center;
 }

 #social-media img {
  margin: 10px;
 }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
 .home {
  display: none;
 }

 .menu {
  display: flex;
 }

 .user {
  position: absolute;
  right: 30px;
  padding: 0;
 }

 #tiffany-anna {
  padding: 225px 100px;
 }

 aside {
  display: flex;
  flex-wrap: wrap;
 }

 .power {
  display: flex;
  align-items: center;
  padding: 0;
  margin-top: 30px;
 }

 .specification {
  padding: 0;
 }

 #social-media ul {
  padding: 0;
  display: flex;
  justify-content: center;
 }

 #copyright {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
 }
}
